/****** General ***********/
/* Desktop */
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

a{
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

a:visited{
    text-decoration: none;
    color: #000000;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 0px;
}

/* header */
header{
display: flex;
flex-direction: row;
height: 80px;
justify-content: space-between;
}

header ul{
list-style: none;
display: flex;
flex-direction: row;
gap: 60px;
margin-right: 50px;
margin-top: 0px;
}

.element-nav{
padding-top: 16px;
}

.element-nav:hover {
border-top: solid 2px;
border-color: #0065FC;

}

header img{
padding: 30px;
height: 25%;
width: 4.3%;
}
/* header fin */

/* main */

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

/* Formulaire */
form{
    display: flex;
    flex-direction: row;
    height: 3em;
    align-items:center;
    margin-bottom: 15px;
}

label{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    height: 100%;
    width:3em;
}



.champ-saisie{
    padding-left: 24px;
    margin-right: 0px;
    border: none;
    height: 100%;
    width: 10em;
    font-weight: 700;
    font-size: 18px;
}

.bouton-recherche{
    margin-left: 0px;
    height: 100%;
    width: 7em;
    color: white;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    font-weight: 700;
    font-size: 18px;
    border: none;
}

.bouton-recherche:hover{
    border-right: solid 2px;
    border-bottom: solid 2px;
    border-color: black;
}

/* Formulaire fin */

/* Filtres */
.filtre-container{
    width: 100%;
    display: flex;
    height: 70px;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.filtre-container span{
    font-weight: bold;
}

.categories-filtres{
    display: flex;
    gap: 35px;
}

.item-filtre{
    font-size: 17px;
    height: 20px;
    width: auto;
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border: solid 2px;
    border-color: #d9d9d9;
    border-radius: 25px;
}

.item-filtre:hover{
    background-color: #DEEBFF;
}
/* Filtres fin */

/* Info */
.info{
    display: flex;
    align-items:center;
    gap: 10px;
    margin-bottom: 37.5px;
}

.info i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    padding: 5px;
    border: solid 2px;
    border-color: #d9d9d9;
    border-radius: 50%;
}
/* Fin Info */

/* cards */
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}
/* fin cards */

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    
}

/****** Hebergements ***********/

.hebergements{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.hebergements .hebergements-title{
    padding: 0px;
    margin: 0px;
    font-size: 22px;
}

.hebergements-cards{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hebergements-cards .card{
    width: 15.5em;

}

.hebergements img{
    width: 100%;
    height: 7.5em;
    border-radius: 20px 20px 0px 0px;
}

.hebergements .card-content{
    padding: 0px 0px 10px 15px;

}
.hebergements .card-title{
    margin-top: 4px;
    margin-bottom: 4px;
}

.hebergements p{
    margin-top: 4px;
    margin-bottom: 4px;
}

.hebergements span{
    font-weight: 700;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/* populaire fin */

/* Activités */
.activites{
    padding: 30px;
    box-sizing: border-box;
}
.activites-container{
    width: 100%;
    display: flex;
    gap: 30px;
}
.activites-items{
    display: flex;
    flex-direction: column;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
    height: 27.5em;
}
.activites-items img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 18.5em;
    height: 86%;
}

.activites-items h3{
    display: flex;
    font-size: 16px;
    padding-left: 15px;
    align-items: center;
    height: 14%;
    margin: 0px;
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}