/****** General ***********/
/* Desktop */
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

a {
    text-decoration: none;
    color: #000000;
}

a:visited {
    text-decoration: none;
    color: #000000;
}

.fa-solid {
    color: var(--main-color);
}

.neutral-star {
    color: gray;
    opacity: 0.5;
}

body {
    max-width: 1440px;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}

/* header */
header {
    display: flex;
    height: 80px;
    justify-content: space-between;
}

header ul {
    list-style: none;
    display: flex;
    gap: 60px;
    margin-right: 50px;
    margin-top: 0px;
}

.element-nav {
    padding-top: 16px;
}

.element-nav:hover {
    border-top: solid 2px;
    border-color: #0065FC;
}

.element-nav a:hover {
    color: #0065FC;
}

header img {
    padding: 30px;
    width: 60px;
    height: 19px;
}

/* header fin */

/* main */

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

/* Formulaire */
form {
    display: flex;
    height: 48px;
    align-items: center;
    margin-bottom: 15px;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    height: 100%;
    width: 48px;
}

.champ-saisie {
    padding-left: 24px;
    border: none;
    width: 180px;
    height: 100%;
    font-weight: 700;
    font-size: 18px;
}

form .fa-magnifying-glass {
    margin-left: 0px;
    height: 100%;
    width: 48px;
    background-color: #0065FC;
    border-radius: 15px 15px 15px 15px;
    border: none;
}

.bouton-recherche {
    height: 100%;
    width: 126px;
    color: white;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    font-weight: 700;
    font-size: 18px;
    border: none;
}

.bouton-recherche:hover {
    border-right: solid 2px;
    border-bottom: solid 2px;
    border-color: black;
}

/* Formulaire fin */

/* Filtres */
.filtre-container {
    width: 100%;
    display: flex;
    height: 70px;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.filtre-container span {
    font-weight: bold;
}

.categories-filtres {
    display: flex;
    gap: 35px;
}

.item-filtre {
    font-size: 17px;
    font-weight: bold;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border: solid 2px;
    border-color: #d9d9d9;
    border-radius: 25px;
}


.item-filtre:hover {
    background-color: #DEEBFF;
}

/* Filtres fin */

/* Info */
.info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 37.5px;
}

.info i {
    display: flex;
    justify-content: center;
    width: 18px;
    padding: 5px;
    border: solid 2px;
    border-color: #d9d9d9;
    border-radius: 50%;
}

/* Fin Info */

/* cards */
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/* fin cards */

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--main-bg-color);
}

.hebergements .hebergements-title {
    margin: 0px;
    font-size: 22px;
}

.hebergements-cards {
    display: flex;
    justify-content: space-between;
}

.hebergements-cards .card {
    width: 30%;
}

.hebergements img {
    width: 100%;
    height: 120px;
    border-radius: 20px 20px 0px 0px;
}

.hebergements .card-content {
    padding: 0px 0px 10px 15px;
}

.hebergements .card-title {
    margin-top: 4px;
    margin-bottom: 4px;
}

.hebergements p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.hebergements span {
    font-weight: 700;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-radius: 20px 0px 0px 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* populaire fin */

/* Activités */
.activites {
    padding: 30px;
}

.activites-container {
    display: flex;
    gap: 30px;
}

.activites-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    border-radius: 20px;
    height: 440px;
    width: 25%;
}

.activites-card img {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 86%;
    object-fit: cover;
}

.activites-card h3 {
    display: flex;
    font-size: 16px;
    padding-left: 15px;
    align-items: center;
    height: 14%;
    margin: 0px;
}

/* fin Activités */

/* footer */
footer {
    background-color: #F2F2F2;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 65px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.list-container {
    width: 33%;
    margin-bottom: 0px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 20px;
    gap: 15px;
}

.list-title {
    font-weight: 700;
    padding-left: 20px;
}

/* Fin footer */

/* Le code ci-dessous correspond à la version responsive uniquement */
/* Desktop */
@media (min-width: 1024px) {
    form .fa-magnifying-glass {
        display: none;
    }

}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width:768px) and (max-width: 1024px) {
    form .fa-magnifying-glass {
        display: none;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-card {
        height: 256px;
    }

    .activites-card img {
        height: 75%;
    }

    .activites-card h3 {
        height: 25%;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    body {
        width: 100%;
        margin: 0px;
        align-items: center;
    }

    .main-container {
        width: auto;
        padding: 0px;
        margin: 0px 0px 0px 0px;
    }

    header {
        width: 100%;
        height: 113px;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        align-items: center;

    }

    header nav {
        width: 100%;
        margin-top: 0px;

    }

    header ul {
        width: 100%;
        margin: 0px;
        gap: 0px;
        padding: 0px;
        justify-content: space-between;
    }

    .element-nav {
        display: flex;
        justify-content: center;
        padding: 0px;
        width: 50%;
        padding-bottom: 15px;
        border-bottom: solid 2px;
        border-color: #F2F2F2;
    }

    .element-nav:hover {
        border-top: none;
        border-bottom: solid 2px;
        border-color: #0065FC;
    }

    .titles {
        width: 90%;
        margin: 0px 20px 35px 20px;
        display: flex;
        flex-direction: column;
        gap: 8px
    }

    form {
        width: 90%;
        margin: 0px 20px 35px 20px;
        justify-content: center;
    }

    .champ-saisie {
        width: 70%;
    }

    label {
        width: 15%;
    }

    form .fa-magnifying-glass {
        width: 15%;
    }

    .bouton-recherche {
        display: none;
    }

    .filtre-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        height: auto;
        width: 90%;
        margin: 0px 20px 35px 20px;

    }

    .categories-filtres {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40px 40px;
        row-gap: 20px;
        column-gap: 5px;
    }

    .info {
        width: 90%;
        justify-content: center;
        margin: 0px 20px 35px 20px;
    }

    .info p {
        width: 20em;
        height: auto;
        margin: 0px;
        font-size: 15px;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
        width: auto;
    }

    .hebergements-and-populaires section {
        margin: 0px;
        padding: 30px 20px 30px 20px;
        border-radius: 0px 0px 0px 0px;
    }

    .card {
        max-width: 368px;
    }

    .populaires {
        width: 100%;
        margin: 0px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .populaires-cards .card {
        margin-top: 15px;
        width: 100%;
    }

    .hebergements {
        width: 100%;
        background-color: white;
        gap: 15px;
    }

    .hebergements-cards {
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 0px;

    }

    .hebergements-cards .card {
        width: 100%;
        margin: 15px 20px 0px 20px;
    }

    .activites-container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .activites-card {
        height: 192px;
        width: 100%;
        max-width: 368px;
    }

    .activites-card img {
        height: 70%;
        width: 100%;

    }

    .activites-card h3 {
        height: 30%;
    }

    footer {
        width: 100%;
        margin: 35px 0px 0px 0px;
    }

    .footer-container {
        flex-direction: column;
    }

    .list-container {
        width: 100%;
    }
}